html {
  overflow-y: auto;
  .v-application.v-layout--full-height {
    .v-main {
      position: fixed !important;
      inset: 0;
      .v-main__wrap {
        position: relative;
        overflow-y: scroll;
        display: flex;
        flex-direction: column;
      }
    }
  }
}
